*{box-sizing:border-box;
}
body
{
	background-color:#33878F;
	color:#402b0c;
	font-family: Tahoma, Arial, sans-serif;
	padding-left:3em;
	padding-right:2em;
}

#wrapper{
	background-color:#EB9A52;
	background-image:url(./Images/tan_leather.jpg);
	min-width:900px;
	max-width:1280px;
	box-shadow:5px 5px 5px;
	margin-left:auto;
	margin-right:auto;
	padding-top:0;
	padding-bottom:0;
	padding-left:0;
	padding-right:0;
	width:80%
	}
header
{background-color: #DFDB80;
	background-image:url(./images/cnc.jpg);
	background-repeat:no-repeat;
	color: #833E00;
	line-height: 250px;
}
#leathergoods { 
	background-image:url(./images/all_leather_400_new2.jpg); 
  background-size: 100% 100%;
  height: 200px; 
  }
h1
{
	background-color:#115259;
	background-image:url(./images/cnc_midcen2_150.jpg);
	background-repeat:no-repeat;
	color: #EB9A52;
	line-height:150px;
	text-align:center;
	border-bottom: solid #D97B27;
	}
h2
{
	color: #4e4e4e;
	text-align:left;
	padding-top:10px;
	}	
h4
{
	color: #4e4e4e;
	text-align:center;
	padding-top:10px;
	}		
nav
{
	font-weight:bold;
	text-align:center;
	}
main{
	padding-top:0;
	padding-bottom:2em;
	padding-left:2em;
	padding-right:2em;
	margin-top: 20px;
	margin-left: 100px;
	margin-right: 100px;
	display: block;
	background-color: #efe4d7;
}

footer
{
	padding-top:1em;
	padding-bottom:1em;
	background-color:#842419;
	color: #ede7de;
	font-size:.60em;
	text-align:center;
	}
nav a{
	text-decoration: none;
}
nav a:link {color:#842419;}
nav a:visited {color:#842419;}
nav a:hover {color:#EB9A52;}

a:link {color:#842419;}
a:visited {color:#842419;}
a:hover {color:#EB9A52;}

table{
	width: 90%;
	margin:auto;
	border-spacing: 1em;
	background-color:#F1EBE4;	
}
}
.patterndetails { padding-left: 10%;
           padding-right: 10%;
		   overflow: auto;
}
.thumbnail:hover{
	transform:scale(1.5);
}
.center{
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:30%;
}
#mysubmit {
	margin-left: 9.5em;
}
