*{box-sizing:border-box;
}
body
{
	background-color:#33878F;
	color:#402b0c;
	font-family: Tahoma, Arial, sans-serif;
	padding-left:3em;
	padding-right:2em;
}

#wrapper{
	background-color:#D89E6B;
	min-width:900px;
	max-width:1280px;
	box-shadow:5px 5px 5px;
	margin-left:auto;
	margin-right:auto;
	padding-top:0;
	padding-bottom:0;
	padding-left:0;
	padding-right:0;
	width:80%
	}
header
{background-color: #DFDB80;
	background-image:url(./images/cnc.jpg);
	background-repeat:no-repeat;
	color: #833E00;
	line-height: 250px;
}
#leathergoods { 
	background-image:url(./images/all_leather_400_new3.jpg); 
  background-size: 100% 100%;
  height: 200px; 
  }
h1
{
	background-color:#115259;
	background-image:url(./images/cnc_craftsman.jpg);
	background-repeat:no-repeat;
	color: #EB9A52;
	line-height:150px;
	text-align:center;
	border-bottom: solid #D97B27;
	}
h2
{
	color: #4e4e4e;
	text-align:left;
	padding-top:10px;
	}	
h3
{
	color: #4e4e4e;
	text-align:left;
	padding-top:10px;
	}		
h4
{
	color: #4e4e4e;
	text-align:center;
	padding-top:10px;
	}		
	
nav { float: none;
	     width: auto;
		 padding-top: 0;
		 margin: 10px;
		 font-size: 1.3em; 
		 text-align:center;
		 }
nav li { display: inline-block; }
nav a { padding: 1em; 
	      width: 8em; 
		  font-weight: bold;
		  border-style: none; }
nav ul { padding: 0; 
	      margin: 0; }
	      
main{
	padding-top:0;
	padding-bottom:2em;
	padding-left:2em;
	padding-right:2em;
	margin-top: 20px;
	margin-left: 100px;
	margin-right: 100px;
	display: block;
	background-color: #efe4d7;
}

footer
{
	padding-top:1em;
	padding-bottom:1em;
	background-color:#842419;
	color: #ede7de;
	font-size:.60em;
	text-align:center;
	}
	
a.email, a.email:link, a.email:visited, a.email:active, a.email:hover {
	color:#ede7de;
}
	
nav a{
	text-decoration: none;
}
nav a:link {color:#842419;}
nav a:visited {color:#842419;}
nav a:hover {color:#A95A14;}

a:link {color:#842419;}
a:visited {color:#842419;}
a:hover {color:#A95A14;}

table{
	width: 90%;
	margin:auto;
	border-spacing: 1em;
	background-color:#F1EBE4;	
}
.patterndetails { padding-left: 10%;
           padding-right: 10%;
		   overflow: auto;
}
.thumbnail:hover{
	transform:scale(1.5);
}
.center{
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:30%;
}
#mysubmit {
	margin-left: 9.5em;
}
#figure{
	width: 600px;
	border: 1px solid #000000;
	padding:10px;
	text-align:center;
	font-family: papyrus, fantasy;
}
@media only screen and (max-width: 1024px) {
	body { margin: 0;
	      background-image: none; }
	#wrapper { width: auto;
	           min-width: 0;
			   margin: 0;
			   padding: 0;
			   box-shadow: none; }
	header { border-bottom: 5px solid #F3F6C2; }
	h1 { margin-top: 0;
	    margin-bottom: 1em;
		padding-top: 1em;
		padding-bottom: 1em;
		font-size: 2.5em; }
	nav { float: none;
	     width: auto;
		 padding-top: 0;
		 margin: 10px;
		 font-size: 1.3em; }
	nav li { display: inline-block; }
	nav a { padding: 1em; 
	      width: 8em; 
		  font-weight: bold;
		  border-style: none; }
	nav ul { padding: 0; 
	      margin: 0; }
	#leathergoods { margin: 0; padding: 0; }
	main { margin: 0; font-size: 90%; }
}
@media only screen and (max-width: 768px) {
	header { background-image: url(javajammini.jpg);
	       height: 128px; }
	h1 { font-size: 2em;
	     text-align: center;
		 padding-left: 0; }
	nav { margin: 0; }
	nav a { display: block; 
	      padding: 0.2em;
		  width: auto;
		  border-bottom: 1px solid #FEF6C2; }
	nav li { display: block; }
	main { padding-top: 1px; }
	h2 { padding: 0.5em 0 0 0.5em;
	    margin-right: 0.5em; }
	.details { padding-left: 0; padding-right: 0; }
	#leathergoods{ background-image: none; 
	                                   height: auto; }
	.floatleft { padding-left: 0.5em; padding-right: 0.5em; }
	#mobile { display: inline; }
    #desktop { display: none; }
}